body {
    background-color: #00bfb3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul {
    font-style: italic;
}

.external_links {
    font-family: monospace;
    text-decoration: none;
}

.full_name{
    font-style: italic;
}

.main_description {
    font-family: monospace;
    line-height: 2.5em;
}

.main_hability {
    font-size: 1.75em;
}

.main_hability2 {
    font-size: 1.5em;
}